
*{
  margin:0;
  padding:0;
  box-sizing: border-box;
}
body{
  width:100vw;
  height:100vh;
  background-color: #eee;
  display:flex;
  align-items: center;
  justify-content: center;
}
.container{
  width:1000px;
  height:500px;
  box-shadow: 0 0 20px rgba(0,0,0,0.25);
  display:grid;
  grid-template-columns: repeat(20,50px);
  grid-template-rows: repeat(10,50px);
  grid-template-areas: 
  '. . . . . . . . . . . . . . . . . . . .'
  '. m m m m m m m m m . b b b b b b b . .'
  '. m m m m m m m m m . b b b b b b b . .'
  '. m m m m m m m m m . b b b b b b b . .'
  '. m m m m m m m m m . b b b b b b b . .'
  '. m m m m m m m m m . . . . . . . . . .'
  '. m m m m m m m m m . f f f f . p p . .'
  '. m m m m m m m m m . f f f f . p p . .'
  '. m m m m m m m m m . f f f f . . . . .'
  '. . . . . . . . . . . . . . . . . . . .'

  ;

}

#board,
#pattern,
#mosiac{
  background-color: #ddd;
  display:grid;
  grid-template-columns: repeat(auto-fill,minmax(50px,auto));
  grid-template-rows: repeat(auto-fill,minmax(50px,auto));
}
#board{
  grid-area: b;
}
#pattern{
  grid-area: p;
}
#mosiac{
  grid-area: m;
}

#main-svg{
  width:450px;
  height:400px;
}

form{
  grid-area: f;
  display:flex;
  flex-direction: column;
  align-content: flex-start;
  justify-content: space-evenly;
}
.form-control{
  font-family: 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
  display:flex;
  justify-content: space-between;
  color:#555;
  font-size: 16px;
}
.form-control select,
.form-control option{
  outline: none;
  border: none;
  font-family: 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
}

.tile{
  width: 50px;
  height:50px;
  background-color: #999;
}